body {
    background: linear-gradient(180deg, #AC60D6 0%, #AC60D6 27%, #49207E 100%);
    backdrop-filter: blur(2px);
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(17, 1fr);
    margin: 0;
}
 
.login{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 5 / 11;
    grid-row: 2 / 17;
    border-radius: 20px;
    background: linear-gradient(0deg, #2D2D2D 0%, #2D2D2D 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1.5px);
    padding: 20px;
}
 
.logoroxa{
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
    object-fit: contain;
    margin: auto;
}
 
.seta{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-top: 5%;
}

.bemvindo{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-family:"Poppins", Sans-Serif;
    color: white;
    font-size: 25px;
    text-align: center;
}
 
 #logintxt{
    font-family:"Poppins", Sans Serif;
    font-size: 18px;
    color: white;
}

.informacoes1{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    font-family:"Poppins", Sans Serif;
    font-size: 14px;
    color: white;
    margin: 0 15%;
}

#e-mail{
    margin: 0 0 5px 0;
    font-size: 15px;
    font-weight: 500;
}

.emailcaixa{
    border-radius: 16px;
    border: 2px solid #9E37D6;
    background: #F2DAFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
 
#texto1{
    color: rgba(158, 55, 214, 0.60);
    font-family: "Poppins", Sans-Serif;
}

.senha{
    grid-column: 2 / 11;
    grid-row: 8 / 10;
    border-radius: 16px;
    border: 2px solid #9E37D6;
    background: #F2DAFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#texto2{
    color: rgba(158, 55, 214, 0.60);
    font-family: "Poppins", Sans Serif;
}

.informacoes2{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
    color: white;
    margin: 0 15%;
}
 
#senhaindi{
    margin: 0 0 5px 0;
    font-size: 15px;
    font-weight: 500;
}
 
.lembrar{
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    display: flex;
    align-items: start;
    margin: -20px 15% 0;
    justify-content: space-between;
}

.lembrar div {
    display: flex;
    align-items: center;
    width: 150px;
}

.lembrar h3 {
    color: #ffffff;
    font-family:"Poppins", Sans-Serif;
    font-size: 14px;
    font-weight: 300;
    padding-left: 2%;
}

.lembrar img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

#esquecisenha{
    color: #9E37D6;
    text-decoration: none;
    font-family:"Poppins", Sans-Serif;
    font-size: 14px;
}
 
.botaologin{
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    border-radius: 10px;
    background: #7F20B3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
    margin: auto;
    margin-top: 5%;
}
 
.botaologin h2{
    color: #ffffff;
    font-family:"Poppins", sans-serif;
    font-size: 23px;
    font-weight: 400;
}
 
.semconta{
    grid-column: 2 / 3;
    grid-row: 6 /7;
    color: #ffffff;
    font-family:"Poppins", Sans Serif;
    display: flex;
    text-align: center;
    margin-top: -20px;
}
 
.semconta h2{
    font-size: 14px;
    font-weight: 400;
}
 
.semconta span{
    font-size: 14px;
    color: #9E37D6;
;
}

.semconta a {
    color: #9E37D6;
    text-decoration: none;
    font-family:"Poppins", Sans-Serif;
    font-size: 14px;
}

.outro {
    grid-column: 1 / 4;
    grid-row: 7 /8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
    margin-top:-20px;
}

.google{
    /* grid-column: 1 / 3;
    grid-row: 16 / 19; */
    border-radius: 15px;
    border: 1px solid #FFF;
    display: flex;
    width: 35%;
    height: 40%;
    align-items: center;
    /* margin: auto; */
    /* margin-top: 0; */
    padding: 5px;
}

.google img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.google h1 {
    color: #FFF;
    font-weight: 400;
    font-family:"Poppins", Sans-Serif;
    font-size: 14px;
    padding-left: 3%;
}
 
/* .facebook{
    grid-column: 5 / 8;
    grid-row: 14 / 18;
    border-radius: 15px;
    border: 1px solid #FFF;
} */

.facebook{
    /* grid-column: 1 / 3;
    grid-row: 16 / 19; */
    border-radius: 15px;
    border: 1px solid #FFF;
    display: flex;
    width: 35%;
    height: 40%;
    align-items: center;
    /* margin: auto; */
    /* margin-top: 0; */
    padding: 5px;
}

.facebook img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.facebook h1 {
    color: #FFF;
    font-weight: 400;
    font-family:"Poppins", Sans-Serif;
    font-size: 14px;
    padding-left: 3%;
}