body {
    background: linear-gradient(180deg, #AC60D6 0%, #AC60D6 27%, #49207E 100%);
    backdrop-filter: blur(2px);
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(17, 1fr);
    margin: 0;
}
 
.login{
    display: grid;
    column-gap: 10px;
    row-gap: 7px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(17, 1fr);
    grid-column: 5 / 11;
    grid-row: 2 / 17;
    border-radius: 20px;
    background: linear-gradient(0deg, #2D2D2D 0%, #2D2D2D 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1.5px);
    padding: 20px;
}
 
.logoroxa{
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}
 
.seta{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
 
 
.bemvindo{
    grid-column: 3 / 11;
    grid-row: 3 / 4;
    font-family:"Poppins", Sans Serif;
    color: white;
    font-size: 25px;
}
 
#logintxt{
    font-family:"Poppins", Sans Serif;
    font-size: 20px;
    color: white;
}
 
.email{
    grid-column: 2 / 11;
    grid-row: 8 / 10;
    border-radius: 16px;
    border: 2px solid #9E37D6;
    background: #F2DAFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
 
.senha{
    grid-column: 2 / 11;
    grid-row: 8 / 10;
    border-radius: 16px;
    border: 2px solid #9E37D6;
    background: #F2DAFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
 
 
#texto1{
    color: rgba(158, 55, 214, 0.60);
    font-family: Poppins, Sans Serif;
}
 
#texto2{
    color: rgba(158, 55, 214, 0.60);
    font-family: "Poppins", Sans Serif;
}
 
 
.informacoes1{
    grid-column: 2 / 11;
    grid-row: 5 / 6;
    font-family:"Poppins", Sans Serif;
    font-size: 14px;
    color: white;
}
 
.informacoes2{
    grid-column: 2 / 11;
    grid-row: 7 / 8;
    font-family:"Poppins", Sans Serif;
    font-size: 14px;
    color: white;
}
 
#e-mail{
    margin: 0;
    font-size: 13px;
}
 
#senhaindi{
    margin: 0;
    font-size: 13px;
}
 
img{
    grid-column: 2 / 10;
    grid-row: 8 / 11;
}
 
.lembrar{
    grid-column: 3 / 11;
    grid-row: 8 / 11;
    color: #ffffff;
    font-family:"Poppins", Sans Serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
 
#esquecisenha{
    color: #9E37D6;
}
 
.botaologin{
    grid-column: 5 / 7;
    grid-row: 10 / 12;
    border-radius: 10px;
    background: #7F20B3;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.botaologin h2{
    color: #ffffff;
    font-family:"Poppins", Sans Serif;
    font-size: 23px;
    font-weight: 400;
}
 
.semconta{
    grid-column: 4 / 8;
    grid-row: 12 / 15;
    color: #ffffff;
    font-family:"Poppins", Sans Serif;
    display: flex;
    text-align: center;
}
 
.semconta h2{
    font-size: 14px;
}
 
.semconta span{
    font-size: 14px;
    color: #9E37D6;
}
 
.google{
    grid-column: 2 / 6;
    grid-row: 16 / 19;
    border-radius: 15px;
border: 1px solid #FFF;
}
 
/* .facebook{
    grid-column: 5 / 8;
    grid-row: 14 / 18;
    border-radius: 15px;
    border: 1px solid #FFF;
} */